<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<table>
    <tr>
        <th>User</th>
        <th>Data</th>
    </tr>
    <% tweets.statuses.forEach(function(tweet) {%>
        <tr>
            <td><%= "@" + tweet.user.screen_name %></td>
            <td><%= tweet.text %></td>
        </tr> 
    <% }); %>
</table>